@charset "utf-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q2_text_box {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff3f4;
}

.left-img {
  float:left;
  margin-right: 20px;
  margin-bottom: 10px
}

.top-text-1 {
  word-break: break-all;
  font-size: 18px;
  line-height: 22px;
}

.right-img {
  float: right;
  margin-bottom: 10px;
  margin-left: 20px; 
}