@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */

/* q7-1〜q7-4 集約 */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.q7_all_text {
  box-sizing: border-box;
  width: 225px;
}

/* q7-1 */

.q7-1_text {
  float: left;
  margin-left: 50px;
}

.q7-1_text:first-child {
  margin-left: 0;
}

/* q7-2 */

.q7_content_table {
  display: table;
}

.q7_content_box {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}

.q7_content_box:first-child {
  padding-left: 0;
}

/* q7-3〜q7-5 集約 */

.is-font-group {
  font-size: 16px;
}

.is-middle {
  vertical-align: middle;
}

.is-display {
  display: inline-block;
}

/* q7-3 */

.q7-3_box {
  font-size: 0;
}

.q7-3_text {
  margin-left: 50px;
}

.q7-3_text:first-child {
  margin-left: 0;
}

/* q7-4 */

.q7-4_box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

/* q7-5 */

.is-large-box {
  width: 100%;
  font-size: 0;
}

.q7-5_left_box{
  width: 300px;
}

.q7-5_right_box{
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
  vertical-align: top;
}