@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

 .top_text {
  float: left;
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
  margin-left: 50px;
}

.q7__box:first-child {
  margin-left: 0;
}

.q7_content_table {
  display: table;
  /* margin-left: 50px; */
  /* padding-left: 50px; */
}

.q7_content_box {
  display: table-cell;
  vertical-align: middle;
  margin-left: 50px;
}


.q7_top_text {
  width: 225px;
  box-sizing: border-box;
}