@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */

.q4_content_box {
  padding: 20px;
  background-color: #ECF1F2;
}

.content {
  width: 100%;
  display: table;
  margin-bottom: 20px; 
}

.content:last-child {
  margin-bottom: 0px;
}

.top-fixed {
  /* display: table-cell; */
  text-align: center;
  width: 100px;
  padding: 20px;
}

.Flesh-color {
  background-color: #fdc8b8;
}

.purple {
  text-align: center;
  padding: 20px;
  background-color:  #e0abd9;
}

.blue {
  background-color: #b6d8ed;
}

.bttom-bariable {
  /* display: table-cell; */
  text-align: center;
}

.yelllo {
  /* padding: 20px; */
  background-color: #e5d32e;
}

.red {
  /* padding: 20px; */
  background-color: #ec8f9a;
}

.green {
  background-color: #8fdcad;
}

body div div div div div {
  display: table-cell;
}

.bttom-fixed {
  /* display: table-cell; */
  text-align: center;
  padding: 20px;
  width: 500px;
}
