@charset "UTF-8";

/* 回答はここに書いてね */
.balloon_text {
  position: relative;
  width: 500px;
  padding: 20px;
  border: 5px solid #222;
  border-radius: 30px;
  margin: 0 auto;
}

.balloon_text::before,
.balloon_text::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 37px;
  bottom: -30px;
  border-top: 30px solid #222;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
}

.balloon_text::after {
  bottom: -22px;
  border-top-color: #fff;
}

/* 回答はここに書いてね */
