@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */

.is-textalign {
  text-align: center;
}

.q6_box_text {
  text-align: center;
  padding: 10px 0;
  width: 90px;
  background-color: #E6F2FF;
}

.inner_text-align {
  display: inline-block;
}

.inner_margin_text{
  margin: 0 auto;
}


.q6_box_content {
  display: table;
  margin: 0 auto;
}

.is-table {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.is-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}


.table_text {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

/* position　box */

.bottom_content_box {
  position: relative;
}

/* position 可変 */

.inner-fixed {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* position 可変 */

.inner-variable {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateY(-50%) translateX(-50%);
}


